<!DOCTYPE html>
<html>
  <head>
    <title>SCRWL.CO</title>
    <meta name="description" content="An app for writing and storing notes, text, and more...">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
  

    <main id="scrwl-main">
      <center>Loading...</center>
    </main>
    
    <header>
      <a id="new-pad">+</a><a id="pad-head"><span id="scrwl-flair" class=""></span>SCRWL.CO</a>
      <ul id="user-scrwl-list"></ul>
    </header>
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
